/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	
}
.clr{
	
clear:both;	
}

body{
background:url(../image/743979-background-pictures.jpg) center top no-repeat;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:10px;	
	
	
}
.header{
	width: 1000px;
	height: 150px;
	background: lightblue;
	margin:0px auto;
}
#logo{
float: left ;
padding: 0px;
}
#text{
	font-size:50px;
	color: black;
	padding: 35px;
	text-align:center;
}
#text1{
	font-size:30px;
	color: black;
	padding: 20px;
	text-align:center;
}
#menu-tab{
	width: 1000px;
	height: 50px;
	background: center, no-repeat;
	margin: 0px auto;
}
.menu {
	width: 1000px;
	height:50px;
	background:url(../image/Light+background.jpg) center no-repeat;
	list-style-type: none;
}
.menu li{

	display:inline;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}
.menu li.divider{
	
		display:inline;
		width: 2px;
		height: 50px;
		float: left;
		background:url(../image/divider.jpg) center no-repeat;
}
.menu li a{
display:block;
float:left;
height: 50px;
text-decoration:none;
padding: 0 0 0 40px;
margin: 0 14px;
color:#000;
}
.menu li #nahome{
	background:url(../image/Drawing.png) left no-repeat;
	
}
.content{
	height: 550px;
	background: center, no-repeat;
	margin: 0px auto;
	
}
.list-content{
	width: 1000px;
	height: 450px;
	background: center, no-repeat;
	margin: 0px auto;
}.cate{
	padding-top: 30px;
	width: 250px;
	
	float:left;
	
}

.list{
	
	width: 250px;
	height: 50px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	background:#666 center no-repeat;
	padding-top: 10px;
	text-align: center;
	font-weight:bold;
	color:#FFF;
	
}

.list-menu li {
	list-style:none;
	
}
.list-menu{
	
	width: 250px;
}

 #chan{
	
	width: 250px;
	height: 30px;
	display:block;
	background:url(../image/Drawing.png) left no-repeat lightgray;
	color:#FFF;
	line-height: 25px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	padding-top: 17px;
	float:left;
}

#le{
	width: 250px;
	height: 30px;
	display:block;
	background:url(../image/Drawing.png) left  no-repeat gray;
	color:#FFF;
	line-height: 25px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	padding-top: 17px;
	float:left;
}
.noidung{
	padding-top: 30px;
	float:left;
	width: 750px;
	height: 420px;
}
.information{
	float:left;
	width: 750px;
	height: 70px;
}
.picture{
	width: 750px;
	background:url(../image/t%E1%BA%A3i%20xu%E1%BB%91ng.jpg) center no-repeat;
	height: 150px;	
}
.idung{
	background:url(../image/ID.jpg) right no-repeat;
	width: 350px;
	height: 180px;
	float: left;
	font-size: 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
	
}
.icuong{
	background:url(../image/cuong.jpg) right no-repeat;
	width: 350px;
	height: 180px;
	float: right;
	font-size: 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: left;
}
.footer{
	width: 1349px;
	height: 50px;
	background: lightblue center no-repeat;
	font-size: 20px;
	text-align: center;

}

.idung2{
	background:url(../image/ID.jpg) center no-repeat;
	width: 750px;
	height: 400px;
	float: left;
	font-size: 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	
}

.icuong2{
	background:url(../image/cuong.jpg) center no-repeat;
	width: 750px;
	height: 400px;
	float:left;
	font-size: 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	
}